/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.99px) {
    body{
        padding-top: 89px;
    }
    header{   
        padding: 10px 0;
    }
    .c-ind [data-bs-target] {
      width: 13px;
      height: 13px;
      border-radius: 100%;
      background-color: #fff;
    }
    .menu ul li a {
        font-size: 18px;
        padding: 10px 0 0 !important;
        text-align: right;
    }
    .s-text{
        margin-top: 0px;
    }
    .s-text h1{
        font-size: 25px;
    }
    .s-text h2{
        margin: 10px 0;
        font-size: 18px;
    }
    .s-text p{
        margin-bottom: 25px;
        color: #555555;
    }
    .s-icon ul li i{
        font-size: 35px;
    }
    .feature {
        padding: 50px 0;
    }
    .f-text {
        text-align: center;
    }
    .f-item{
        margin-top: 30px;
    }
    .c-title h1{
        font-size: 25px;
    }
    .c-title p{
        font-size: 16px;
    }
    .c-submit{
        margin-top: 10px;
    }
    .c-header{
        font-size: 25px !important;
    }
    .c-desc{
        font-size: 16px !important;
    }
    .c-input{
        height: 45px;
        padding: 10px 10px;
    }
    .c-submit{
        height: 45px;
    }
     footer{
        padding-top: 0px;
        padding-bottom: 100px;
    }
    .f-1{
        text-align: center;
    }
    .f-2{
        text-align: center;
        margin-top: 40px;
    }

}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.99px) {
    .c-ind [data-bs-target] {
      width: 13px;
      height: 13px;
      border-radius: 100%;
      background-color: #fff;
    }
   .menu ul li a {
        font-size: 18px;
        padding: 10px 0 0 !important;
        text-align: right;
    }
    .s-text{
        margin-top: 0px;
    }
    .s-text h1{
        font-size: 25px;
    }
    .s-text h2{
        margin: 10px 0;
        font-size: 18px;
    }
    .s-text p{
        margin-bottom: 25px;
        color: #555555;
    }
    .s-icon ul li i{
        font-size: 35px;
    }
    .f-text{
        text-align: center;
    }
    .c-header{
        font-size: 25px;
    }
    .c-desc{
        font-size: 16px;
    }
    footer{
        padding-top: 0px;
        padding-bottom: 100px;
    }
    .f-1{
        text-align: center;
    }
    .f-2{
        text-align: center;
        margin-top: 40px;
    }

}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.99px) {
    .menu ul li a {
        padding: 10px 0 0 !important;
        text-align: right;
    }
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.99px) {
    
}
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.99px) {
    
}
/*Extra Extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {
     
} 